
@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100% */
}

body {
    background-image: linear-gradient(to right, #DCADA5, #E3D0AF);
}

main {
    background-color: white;
    border-radius: 10px;  /* Borda arredondada */
    box-shadow: 5px 5px 15px rgba(166, 121, 81, 0.568);
    width: 600px;   /* Largura */
    padding: 10px;  /* Acolchoamento */
    margin: auto;   /* Centraliza, independente do tamanho da tela */
}

h1 {
    color: #A67951;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(141, 102, 68, 0.685);

}

h2 {
    color: #42A1B5;
}

p {
    text-align: justify;
}

